<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel = "stylesheet" href = "/public/aboutus.css" type = "text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div >
        <ol id="navbar">
            <li id="home" class="page">首页</li>
            <li id="system">关于系统</li>
            <li id="reg" class="page">注册</li>
        </ol>
    </div>
    <div class="row">
    <div class="column">
        <div class="card">
        <div class="container">
            <div class="cen"> <h2 class="name1">杨捷茹</h2></div>
            <div class="cen"> <p id="level" class="title">19计算机1</p></div>
            <p class = "contend">性别：女<br>爱好：旅游、看史书<br>最喜欢的歌曲：《Lengends Never Die》<br>最想去的地方：陕西西安</p>
        </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
        <div class="container">
           <div class="cen"> <h2 class="name1">系统介绍</h2></div>
           <div class="cen"> <p id="level" class="title">图书管理系统</p></div>
            <p class = "contend2">查询书籍，下载书籍</p>
        </div>
        </div>
    </div> 
 <div class="column">
        <div class="card">
        <div class="container">
            <div class="cen"> <h2 class="name1">课程介绍</h2></div>
           <div class="cen"> <p id="level" class="title">开源软件技术</p></div>
            <p class = "contend3">开源软件(Open Source Software,简称为OSS),意思是源代码开放的软件,即源代码可以被公众使用的软件,并且此软件的使用,修改和发行也不受许可证的限制。</p>

        </div>
        </div>
    </div> 
    </div>
</body>
<script src="aboutus.js"></script>
</html>