<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>图书馆管理系统首页</title>
</head>
<body style="background: url(img1.jpg) ; background-size:100% 100% ; background-attachment: fixed">
    <div id="header">
        Library Management System<br>图书馆管理系统
    </div>
    <section class="container">
       
        <div class="section">
            <div class="cont_title">
                <a href="about.ejs">
                    <h1>关于系统</h1>
                    <h3>ABOUT</h3>
                </a>
            </div>
        </div>
        <div class="section">
            <div class="cont_title">
                <a href="login.ejs">
                    <h1>用户登陆</h1>
                    <h3>SIGN IN</h3>
                </a>
            </div>
        </div>
        <div class="section">
            <div class="cont_title">
                <a href="register.ejs">
                    <h1>用户注册</h1>
                    <h3>SIGN UP</h3>
                </a>
            </div>
        </div>
        
    </section>
</body>

</html>