<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>注册界面</title>
        <link rel = "stylesheet" href = "/public/register.css" type = "text/css"> 
</head>
<body>
    <div >
        <ol id="navbar">
            <li id="home" class="page">首页</li>
            <li id="AboutUs" class="page">关于系统</li>
            <li id="signin" class="page">登陆</li>
        </ol>
    </div>
    
        <form class = "login" action="./register.html" method="post">
          <h2>
            注册界面
          </h2>
          <p><%= msg %></p>

          <label for = "fname">姓：</label><br>
          <input type = "text" class = "padding" id = "fname" placeholder = "Enter your First Name" name="fname" value = "" required>
          <span id = "blankMsgN1" style="color:red"></span><br><br>

          <label for = "lname">名:</label><br>
          <input type = "text" class = "padding" id = "lname" placeholder = "Enter your Last Name" name="lname" value = "" required>
          <span id = "charMsg" style="color:red"> </span><br><br>

          <label for = "gender">性别:</label><br>
          <input type = "radio" id = "male" name = "gender" value = "male">
          <label class = "radio" for = "male">男</label>
          <input type = "radio" id = "female" name = "gender" value = "female">
          <label class = "radio" for = "female">女</label>
          <input type = "radio" id = "others" name = "gender" value = "others">
          <label class = "radio" for = "others">其他</label><br><br>
          
          <label for = "city">城市:</label>
          <select class = "padding" name="city" id = "city" required>
            <option selected>选择</option><hr>
            <option  value = "Shanghai">上海</option>
            <option  value = "Suzhou">苏州</option>
            <option  value = "Hangzhou">杭州</option>
            <option  value = "Nanjin">南京</option>
            <option  value = "Huzhou">湖州</option>
            <option  value = "Yanghzhou">扬州</option>
            <option  value = "Nantong">南通</option>  
          </select><br><br>

          <label for = "phone">电话号码:</label><br>
          <input class = "padding" type = "text" id = "phone" placeholder="Enter your Mobile No." name="mobile" value = "" required><br><br>

          <label for = "email">Email:</label><br>
          <input class = "email" type = "text" name="useremail" id = "email" placeholder="Write your Email"><br><br>

          <label for = "pass">密码:</label><br>
          <input class = "padding" type = "password" id = "pass" name= "pass" onchange = 'check();' placeholder="Password" required>
          <span id = "message1" style="color:red"> </span><br><br>

          <label for = "pass1">重新输入密码:</label><br>
          <input class = "padding" type = "password" id = "pass1" name = "pass1" onchange = 'check();' placeholder="Retype Password" required>
          <span id = "message2" style="color : red"> </span>
          <span id = "match"></span><br><br>

          <input class = "button" type = "submit" value = "Submit" id = "sub" onclick = "validateForm()"><br><br>

          <button class = "button" type = "reset" value = "Reset">Reset</button><br>
          <span class = "compelete" id = "complete"></span>    
          <span id = "empty"></span>
        </form>
        <script src = "register.js"></script>
</body>
</html>
